* {
  box-sizing: border-box;
}

.Login {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 0.1em solid lightblue;
  border-radius: 1em;

  h1 {
    text-align: center;
    margin: 1em;
  }

  label {
    font-size: 1em;
    margin-bottom: .3em;
  }

  input {
    font-size: 1em;
    background-color: white;
    padding: 0.5em;
    margin-bottom: .3em;
    border: .1em solid white;
    border-radius: .3em;
  }

  button {
    color: black;
    font-size: 1em;
    padding: .2em;
    background-color: lightblue;
    border: .1em solid lightblue;
    min-width: 100px;
    margin: .3em auto;
    border-radius: .3em;

    &:hover {
      background-color: darkslateblue;
      border: .1em solid lightblue;
      color: lightblue;
      cursor: pointer;
    }
  }
}