* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
}

body {
  font-family: "Merriweather", sans-serif;
}

.PhotoList {
  max-width: 1400px;

  &>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;

    img {
      width: 100%;
      aspect-ratio: 3/2;
      object-fit: cover;
    }
  }
}